html {
    font-family: 'Gloria Hallelujah', cursive;
}
body {
    min-width: 1000px;
    min-height: 1000px;
}

header {
    background-color: rgb(133, 210, 248);
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 8vh;
    min-height: 50px;
    color: #FFD90F;
    text-shadow:
    -1px -1px 0 rgb(236, 160, 8),
    1px -1px 0 rgba(0, 0, 0, 0.82),
    -1px 1px 0 rgba(0, 0, 0, 0.802),
    1px 1px 0 rgba(0, 0, 0, 0.821); 
    padding: 5px;
}

button {
    min-height: 20px;
    background-color: #FFD90F;
    font-family: 'Gloria Hallelujah', cursive;
    border-radius: 5px;
    border-right: 3px solid rgb(236, 160, 8);
    border-bottom: 3px solid rgb(236, 160, 8);
    border-top: 1.5px solid rgb(236, 160, 8);
    border-left: 1.5px solid rgb(236, 160, 8);
    padding: 5px;
    max-height: 40px;
}

/* header button {
    /* margin: 20px; */
/* } */

#dropdown-menus {
    background-color: rgb(133, 210, 248);
    height: 5vh;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #F8659F;
    padding: 5px;
}

.dropdown-menu {
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: chartreuse;
    top: 15%;
}

#search-guess{
    width: 200px;
}

#dropdown-left {
    right: 50%;
}
#dropdown-right {
    left: 50%;
}

#board {
    background-color: black;
    background-image: url(/images/misc-images/background2.jpeg);
    /* background-size: cover; */
    height: 85vh;
    width: 100%;
    display: flex;
    border-top: 2px solid #F8659F;
}

.half-board {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    min-height: 500px;
    min-width: 300px;
}

#left-board {
    /* background-color: white; */
    width: 50%;
}

#left-card {
    height: 110px;
    /* width: 20%; */
    background-color:rgb(133, 210, 248);
    margin-top: 3%;
    margin-left: 10px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

#left-crowd {
    height: 70vh;
    width: 53vh;
    background-color: #F8659F;
    margin-right: 10px;
    margin-top: 3%;
    font-size: small;
    border: 2px solid black;
    border-radius: 5px;
}

#right-board {
    /* background-color: white; */
    width: 50%;
}

#right-card {
    height: 110px;
    /* width: 20%; */
    background-color: #F8659F;
    margin-right: 10px;
    margin-top: 3%;
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

#right-crowd {
    height: 70vh;
    width: 53vh;
    background-color:rgb(133, 210, 248);
    margin-left: 10px;
    margin-top: 3%;
    font-size: small;
    border: 2px solid black;
    border-radius: 5px;
}

.box {
    height: 18%;
    width: 23%;
    background-color: white;
    float: left;
    margin: 1%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 1px;
}

.box img {
    /* max-width: 100%; */
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
}