/* Whole document */
html {
    font-family: 'Gloria Hallelujah', cursive;
}
body {
    min-width: 1000px;
    min-height: 1000px;
}

/* ---------- */

/* Header - includes title */
header {
    background-color: rgb(133, 210, 248);
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 8vh;
    min-height: 50px;
    color: #FFD90F;
    text-shadow:
    -1px -1px 0 rgb(236, 160, 8),
    1px -1px 0 rgba(0, 0, 0, 0.82),
    -1px 1px 0 rgba(0, 0, 0, 0.802),
    1px 1px 0 rgba(0, 0, 0, 0.821); 
    padding: 5px;
    line-height: 10px;
}

/* ---------- */

/* Buttons: generic */
button {
    min-height: 20px;
    background-color: #FFD90F;
    font-family: 'Gloria Hallelujah', cursive;
    border-radius: 5px;
    border-right: 3px solid rgb(236, 160, 8);
    border-bottom: 3px solid rgb(236, 160, 8);
    border-top: 1.5px solid rgb(236, 160, 8);
    border-left: 1.5px solid rgb(236, 160, 8);
    padding: 5px;
    max-height: 40px;
}

/* ---------- */

/* Dropdown menus and their contents */

/* <div> that holds the show/hide buttons just below the header */
#dropdown-menus {
    background-color: rgb(133, 210, 248);
    height: 5vh;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid #F8659F;
    padding: 5px;
}
/* Both dropdown menus */
.dropdown-menu {
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: rgb(133, 210, 248);
    border: #FFD90F solid 10px;
    border-radius: 10px;
    outline: black solid 2px;
    top: 17.5%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content:space-between
}

.dropdown-menu button {
    margin: 3px;
}

.instruct {
    font-size: 16pt;
    line-height: 20px;
}

#search-guess{
    width: 200px;
}

/* Positioning L/R respectively */
#dropdown-left {
    right: 50.5%;
}
#dropdown-right {
    left: 50.5%;
}
/* input box */
input {
    height: 30px;
    background-color: white;
    border: #FFD90F 5px solid;
    border-radius: 5px;
    padding: 5px;
}

/* ---------- */

/* board area */
#board {
    background-color: #FFD90F;
    /* background-image: url("images/misc-images/background2.jpeg"); */
    /* background-color: #FFD90F; */
    /* background-size: cover; */
    height: 85vh;
    width: 100%;
    display: flex;
    border-top: 2px solid #F8659F;
}
/* the two halves */
.half-board {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    min-height: 500px;
    min-width: 300px;
}

/* Left side of board: */
#left-board {
    /* background-color: white; */
    width: 50%;
}

#left-card {
    height: 110px;
    /* width: 20%; */
    background-color:rgb(133, 210, 248);
    margin-top: 3%;
    margin-left: 10px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

#left-crowd {
    height: 70vh;
    width: 53vh;
    background-color: #F8659F;
    margin-right: 10px;
    margin-top: 3%;
    font-size: small;
    border: 2px solid black;
    border-radius: 5px;
}

/* Right side of board: */
#right-board {
    /* background-color: white; */
    width: 50%;
}

#right-card {
    height: 110px;
    /* width: 20%; */
    background-color: #F8659F;
    margin-right: 10px;
    margin-top: 3%;
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

#right-crowd {
    height: 70vh;
    width: 53vh;
    background-color:rgb(133, 210, 248);
    margin-left: 10px;
    margin-top: 3%;
    font-size: small;
    border: 2px solid black;
    border-radius: 5px;
}

/* Character image boxes & their images */
.box {
    height: 18%;
    width: 23%;
    background-color: white;
    float: left;
    margin: 1%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 1px;
}

.box img {
    /* max-width: 100%; */
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
}

/* Mystery character card images */
.cardImg {
    max-height: 80%;
    max-width: 95%;
    margin: 1px;
    background: none;
    /* mix-blend-mode: multiply; */
}

.qmark {
    mix-blend-mode: multiply;
    /* z-index: 0; */
}
/* toggled to show/hide */

/* ---------- */

/* Misc / other: */

/* Popup class */
.popup {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 20.5%;
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 30px;
}
.popupLarge {
    width: 40%;
    height: 25%;
}

/* Rules Box element: */
.rulesBox {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 600px;
    top: 19%;
    padding: 0px;
    /* left: 100px; */
    /* z-index: -1; */
}

/* hidden class */
.hidden {
    display: none;
}